<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/sidebar.ejs') %>
            <%- include('partials/header.ejs') %>
                <main class="nxl-container">
                    <div class="nxl-content">
                        <div class="page-header">
                            <div class="page-header-left d-flex align-items-center">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Be-Leave</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">Leaves</li>
                                    <li class="breadcrumb-item">Import leaves</li>
                                </ul>
                            </div>
                            <div class="page-header-right ms-auto">
                                <div class="page-header-right-items">
                                    <div class="d-flex d-md-none">
                                        <a href="javascript:void(0)" class="page-header-right-close-toggle">
                                            <i class="feather-arrow-left me-2"></i>
                                            <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-md-none d-flex align-items-center">
                                    <a href="javascript:void(0)" class="page-header-right-open-toggle">
                                        <i class="feather-align-right fs-20"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- [ page-header ] end -->
                        <div class="bg-white py-3 border-bottom rounded-0 p-md-0 mb-0">
                            <div class="d-md-none d-flex align-items-center justify-content-between">
                                <a href="javascript:void(0)" class="page-content-left-open-toggle">
                                    <i class="feather-align-left fs-20"></i>
                                </a>
                            </div>
                        </div>
                        <!-- [ Main Content ] start -->
                        <div class="main-content">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="overviewTab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card stretch stretch-full d-flex">
                                                <div class="card-header">
                                                    <h4 class="header">Import Leaves</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <% if (locals.error) { %>
                                                            <div class="alert alert-danger" role="alert" id="message">
                                                                Error
                                                                occured while importing the file: <%= error %>
                                                            </div>
                                                            <% } %>
                                                                <form action="/leave/import-leaves" method="post"
                                                                    enctype="multipart/form-data">
                                                                    <div class="col-md-12 mb-2">
                                                                        <input type="file" class="form-control"
                                                                            id="file" name="file">
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <button class="btn btn-primary" id="importBtn"
                                                                            type="submit">Import</button>
                                                                    </div>
                                                                </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('partials/footer.ejs') %>
    </body>

    </html>