<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/sidebar.ejs') %>
            <%- include('partials/header.ejs') %>
                <main class="nxl-container">
                    <div class="nxl-content">
                        <div class="page-header">
                            <div class="page-header-left d-flex align-items-center">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Be-Leave</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">Leaves</li>
                                    <li class="breadcrumb-item">Planning</li>
                                </ul>
                            </div>
                            <div class="page-header-right ms-auto">
                                <div class="page-header-right-items">
                                    <div class="d-flex d-md-none">
                                        <a href="javascript:void(0)" class="page-header-right-close-toggle">
                                            <i class="feather-arrow-left me-2"></i>
                                            <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-md-none d-flex align-items-center">
                                    <a href="javascript:void(0)" class="page-header-right-open-toggle">
                                        <i class="feather-align-right fs-20"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- [ page-header ] end -->
                        <div class="bg-white py-3 border-bottom rounded-0 p-md-0 mb-0">
                            <div class="d-md-none d-flex align-items-center justify-content-between">
                                <a href="javascript:void(0)" class="page-content-left-open-toggle">
                                    <i class="feather-align-left fs-20"></i>
                                </a>
                            </div>
                        </div>
                        <!-- [ Main Content ] start -->
                        <div class="main-content">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="overviewTab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card stretch stretch-full">
                                                <div
                                                    class="card-body task-header d-md-flex align-items-center justify-content-between">
                                                    <div class="me-4 w-50">
                                                        <div class="d-flex align-items-center">
                                                            <label for="lineFilter"
                                                                class="form-label ms-3">Line:</label>
                                                            <select class="form-select mx-3" name="lineFilter"
                                                                id="lineFilter">
                                                                <% lineList.forEach(line=> { %>
                                                                    <option value="<%= line %>" <% if(line==='NULL' ) {
                                                                        %>
                                                                        selected<% } %>>
                                                                            <%= line %>
                                                                    </option>
                                                                    <% }) %>
                                                            </select>
                                                            <label for="departementFilter"
                                                                class="form-label ms-3">Departement:</label>
                                                            <select class="form-select mx-3" name="departementFilter"
                                                                id="departementFilter">
                                                                <% departementList.forEach(function(departement) { %>
                                                                    <option value="<%= departement %>" <%
                                                                        if(departement==='HR' ) { %>selected<% } %>>
                                                                            <%= departement %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="mt-4 mt-md-0">
                                                        <div class="d-flex gap-2">
                                                            <a href="/leave/new-leave" class="btn btn-success"
                                                                title="New leave">
                                                                <i class="feather-plus me-2"></i>
                                                                <span>New Leave</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12">
                                            <div class="card stretch stretch-full d-flex">
                                                <div class="card-header">
                                                    <h4 class="header">Leave Plan</h4>
                                                </div>
                                                <div class="card-body">
                                                    <%- include('partials/planning-calendar') %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('partials/footer.ejs') %>
    </body>

    </html>