<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/sidebar.ejs') %>
            <%- include('partials/header.ejs') %>
                <main class="nxl-container">
                    <div class="nxl-content">
                        <div class="page-header">
                            <div class="page-header-left d-flex align-items-center">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Be-Leave</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">Employee</li>
                                    <li class="breadcrumb-item">New employee</li>
                                </ul>
                            </div>
                            <div class="page-header-right ms-auto">
                                <div class="page-header-right-items">
                                    <div class="d-flex d-md-none">
                                        <a href="javascript:void(0)" class="page-header-right-close-toggle">
                                            <i class="feather-arrow-left me-2"></i>
                                            <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-md-none d-flex align-items-center">
                                    <a href="javascript:void(0)" class="page-header-right-open-toggle">
                                        <i class="feather-align-right fs-20"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- [ page-header ] end -->
                        <div class="bg-white py-3 border-bottom rounded-0 p-md-0 mb-0">
                            <div class="d-md-none d-flex align-items-center justify-content-between">
                                <a href="javascript:void(0)" class="page-content-left-open-toggle">
                                    <i class="feather-align-left fs-20"></i>
                                </a>
                            </div>
                        </div>
                        <!-- [ Main Content ] start -->
                        <div class="main-content">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="overviewTab">
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="card stretch stretch-full d-flex">
                                                <div class="card-header">
                                                    <h4 class="header">New employee</h4>
                                                </div>
                                                <div class="card-body">

                                                    <div class="modal-body">
                                                        <div class="row">

                                                            <!-- ===== LEFT: FORM ===== -->
                                                            <div class="col-12">
                                                                <form id="userForm" method="POST"
                                                                    action="/employee/new-employee">

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-2 mb-3">
                                                                                <label
                                                                                    class="form-label">Matricule</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="matricule" name="matricule"
                                                                                    placeholder="AMAA000000" required>
                                                                            </div>
                                                                            <div class="col-md-7 mb-3">
                                                                                <label class="form-label">Full
                                                                                    name</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="fullname" name="fullname"
                                                                                    placeholder="Enter full name"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-3 mb-3">
                                                                                <label class="form-label">Date of
                                                                                    birth</label>
                                                                                <input type="date" class="form-control"
                                                                                    id="date_of_birth"
                                                                                    name="date_of_birth"
                                                                                    placeholder="Enter date of birth"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Gender</label>
                                                                                <select name="gender" id="gender"
                                                                                    class="form-select" required>
                                                                                    <option value="M" selected>Male
                                                                                    </option>
                                                                                    <option value="F">Female</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">CIN</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="CIN" name="CIN"
                                                                                    placeholder="Enter CIN" required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">CNAPS</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="CNAPS" name="CNAPS"
                                                                                    placeholder="Enter CNAPS" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                        </div>
                                                                    </div>

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Street
                                                                                    adress</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="adrs_street" name="adrs_street"
                                                                                    placeholder="Enter street adress"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label
                                                                                    class="form-label">Locality</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="adrs_locality"
                                                                                    name="adrs_locality"
                                                                                    placeholder="Enter locality"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label
                                                                                    class="form-label">Town/Village</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="adrs_twnvge" name="adrs_twnvge"
                                                                                    placeholder="Enter town/village"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Basic
                                                                                    category</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="cat_basic" name="cat_basic"
                                                                                    placeholder="Enter basic category"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Industrial
                                                                                    category</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="cat_ind" name="cat_ind"
                                                                                    placeholder="Enter industrial category"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Professional
                                                                                    category</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="cat_prof" name="cat_prof"
                                                                                    placeholder="Enter professional category"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Site</label>
                                                                                <select name="site" id="site"
                                                                                    class="form-select" required>
                                                                                    <%
                                                                                        Object.keys(allowedSites).forEach(key=>
                                                                                        { %>
                                                                                        <option
                                                                                            value="<%= allowedSites[key] %>">
                                                                                            <%= allowedSites[key] %>
                                                                                        </option>
                                                                                        <% }) %>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label
                                                                                    class="form-label">Departement</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="departement" name="departement"
                                                                                    placeholder="Enter departement"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label
                                                                                    class="form-label">Section</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="section" name="section"
                                                                                    placeholder="Enter section"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label
                                                                                    class="form-label">Division</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="division" name="division"
                                                                                    placeholder="Enter division"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label
                                                                                    class="form-label">Occupation</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="occupation" name="occupation"
                                                                                    placeholder="Enter occupation"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Line</label>
                                                                                <select name="line" id="line"
                                                                                    class="form-select">
                                                                                    <option value="L1">L1</option>
                                                                                    <option value="L2">L2</option>
                                                                                    <option value="L3">L3</option>
                                                                                    <option value="L4">L4</option>
                                                                                    <option value="L5">L5</option>
                                                                                    <option value="L6">L6</option>
                                                                                    <option value="NULL">NULL</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Job
                                                                                    post</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="job_post" name="job_post"
                                                                                    placeholder="Enter job post"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Job
                                                                                    level</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="job_level" name="job_level"
                                                                                    placeholder="Enter job level"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Type</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="type" name="type"
                                                                                    placeholder="Enter type" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">PRTR</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="prtr" name="prtr"
                                                                                    placeholder="Enter PRTR" required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">DI</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="DI" name="DI"
                                                                                    placeholder="Enter DI" required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label
                                                                                    class="form-label">Pattern</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="pattern" name="pattern"
                                                                                    placeholder="Enter pattern"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">DOE</label>
                                                                                <input type="date" class="form-control"
                                                                                    id="DOE" name="DOE"
                                                                                    placeholder="Enter DOE" required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">DOC</label>
                                                                                <input type="date" class="form-control"
                                                                                    id="DOC" name="DOC"
                                                                                    placeholder="Enter DOC" required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">DOR</label>
                                                                                <input type="date" class="form-control"
                                                                                    id="DOR" name="DOR"
                                                                                    placeholder="Enter DOR" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Recherche Employé -->
                                                                    <div class="">
                                                                        <div class="row">
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Effective
                                                                                    start date</label>
                                                                                <input type="date" class="form-control"
                                                                                    id="effective_start_date"
                                                                                    name="effective_start_date"
                                                                                    placeholder="Enter effective start date"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Effective end
                                                                                    date</label>
                                                                                <input type="date" class="form-control"
                                                                                    id="effective_end_date"
                                                                                    name="effective_end_date"
                                                                                    placeholder="Enter effective end date"
                                                                                    required>
                                                                            </div>
                                                                            <div class="col-md-4 mb-3">
                                                                                <label class="form-label">Pay
                                                                                    mode</label>
                                                                                <select name="pay_mode" id="pay_mode"
                                                                                    class="form-select">
                                                                                    <option value="BK">BK</option>
                                                                                    <option value="CS">CS</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </form>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="card-footer">
                                                    <button type="submit" form="userForm" class="btn btn-primary"
                                                        id="submit">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('partials/new-leave-modal-test') %>
                        <%- include('partials/footer.ejs') %>
    </body>

    </html>